html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'), url('../fonts/OpenSansRegular.woff2') format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'), url('../fonts/OpenSansLight.woff2') format("woff2"), url("../fonts/OpenSansLigh.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'), url('../fonts/OpenSansSemiBold.woff2') format("woff2"), url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}


/* glob */

:root {
  --gap: 30px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 300;
  line-height: 46.8px;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #787878;
}

.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.nav__link:hover {
  color: #71a7e2;
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  color: #3172b9;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}


.btn {
  position: relative;
  outline: none;
  padding: 15px 35px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #3172b9;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: inherit;
  border: 1px solid #3172b9;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71a7e2;
}

.bnt:active {
  background-color: #0e3b6c;
}

.btn:active::after {
  opacity: 0;
}




/* Hero  */

.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url('../img/hero-bg.jpeg');
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  padding-top: 120px;
  padding-bottom: 130px;
}



.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero__descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.hero__btn {
  margin-bottom: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 250px;
}

.hero__secure {
  padding-left: 30px;
  font-size: 11px;
  line-height: 155%;
  font-weight: 400;
  text-transform: uppercase;
  color: #787878;
  background-image: url("../img/hero-bg2.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
}


/* Положение бэкграунда не отцентрировано? положение кнопки и текста под кнопкой не выставлено */


/* Services */

.services {
  border-bottom: 1px solid #dadada;
}

.h2-services-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #1C1C1C;
}

.h3-services-title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.services-descr {
  text-align: center;
}



.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  /* width: calc((100% - (var(--gap) * 3)) / 4);   */
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* .services-item:not(:nth-child(4n)) {
  margin-right: var(--gap);
} */


.services-item:hover {
  border-color: #3172b9;
  background-color: #3172b9;
}

.services-item:hover .h3-services-title {
  color: #fff;
}

.services-item:hover .services-item-desc {
  color: #fff;
}

.services-item:hover .services-item-icon {
  fill: #fff;
}


.services-item-icon {
  margin-bottom: 25px;
  fill: #3172b9;
  transition: fill 0.3s ease-in-out;
}

.services-title {
  margin: 0;
  margin-bottom: 15px;
}

.services-item-desc {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}


/* Article  */

.articles {
  border-bottom: 1px solid #dadada;
  ;
}

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  /* width: calc((100% - (var(--gap))) / 2); */
  margin-bottom: var(--gap);
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.blog-preview-link {
  display: flex;
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}


.blog-preview-link:focus {
  background-color: #71a7e2;
}

.blog-preview-link:focus .blog-preview-title {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-time {
  color: #fff;
}


.blog-preview-link:hover {
  background-color: #3172b9;
}

.blog-preview-link:hover .blog-preview-title {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-time {
  color: #fff;
}

.blog-preview-link:active {
  background-color: #0e3b6c;
}

.blog-preview-link:active .blog-preview-title {
  color: #fff;
}

.blog-preview-link:active .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:active .blog-preview-time {
  color: #fff;
}

/* ^ в видео 2 титла */
/* .articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
} */

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.blog-preview-descr {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  max-width: 210px;
  color: #787878;
  transition: color 0.3s ease-in-out;
}


/* Client */

.client {
  border-bottom: 1px solid #dadada;
}

.client-title {
  margin: 0;
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.client-item {
  flex-direction: column;
  /* width: calc((100% - (var(--gap) * 2)) / 3); */
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

/* .client-item:not(:nth-child(3n)) {
  margin-right: var(--gap);
} */

.client-item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.client-user {
  margin-top: auto;
  padding-top: 28px;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 100%;
}

.client-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.client-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.client-name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.client-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}


/* Contacts */

.contacts {
  border-top: 1px solid #dadada;
}

.contacts-adress {
  font-style: normal;
  padding-top: 72px;
}

.contacts-item {
  flex-direction: column;
  padding-top: 48px;
  /* width: calc((100% - (var(--gap) * 2)) / 3); */
  background-position: left top;
  /*по инструкции left center */
  background-repeat: no-repeat;
  background-size: 29px 29px;

}

.contacts-item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts-item-text {
  margin: 0;
  max-width: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
}

.contacts-item-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline: 1px solid #71a7e2;
}

.contacts-item-link:hover {
  color: #71a7e2;
}

.contacts-item-link:active {
  outline: none;
  color: #0e3b6c;
}

.contacts-location {
  background-image: url("../img/location_on.svg");
  background-repeat: no-repeat;
}

.contacts-phone {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
}

.contacts-mail {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
}


/* Foooter */

.footer {
  padding: 42px 0;
  border-top: 1px solid #dadada;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer__nav {
  margin-right: 56px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer-copy {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}


.footer__nav .nav__link {
  font-size: 12px;
  color: #787878;
}

.nav__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.nav__link:hover {
  color: #71a7e2;
}

.nav__link:active {
  color: #0e3b6c;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link svg {
  fill: #000;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.social-link-mail svg {
  fill: transparent;
  stroke: #000;
}

.social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.social-link:hover svg {
  fill: #71a7e2;
}

.social-link-mail:hover svg {
  fill: transparent;
  stroke: #71a7e2;
}

.social-link:active svg {
  fill: #3172b9;
}

.social-link-mail:active svg {
  fill: transparent;
  stroke: #3172b9;
}


/* JOIN US  */

.join-us {
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
}

.join-us-title {
  margin: 0;
  text-align: center;
}

.join-us-descr {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-input {
  box-sizing: border-box;
  margin-bottom: 19px;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  opacity: 0.6;
  border: 1px solid #dadada;
  border-radius: 50px;
  color: #dadada;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-input:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover {
  border-color: #71a7e2;
}

.form-input:active {
  border-color: #0e3b6c;
}


.form-select:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover {
  border-color: #71a7e2;
}

.form-select:active {
  border-color: #0e3b6c;
}

.form-textarea:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover {
  border-color: #71a7e2;
}

.form-textarea:active {
  border-color: #0e3b6c;
}

.form-select {
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  opacity: 0.6;
  border: 1px solid #dadada;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-textarea {
  box-sizing: border-box;
  padding: 16px 28px;
  width: 100%;
  height: 93%;
  opacity: 0.6;
  border: 1px solid #dadada;
  border-radius: 20px;
  resize: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-right {
  width: 49%;
}

.form-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
  min-height: 140px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-bottom {
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  padding: 15px 35px;
  margin-bottom: 9px;
  min-width: 230px;
  background: #3172B9;
  border-radius: 50px;
}

.form-check {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #787878;
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  border-bottom: 1px solid #3172b9;
  color: #3172B9;
}

.burger {
  display: none;
}